.cover {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.greeting {
  margin-bottom: 2rem;
}

.greeting > h2 {
  font-size: 2em;
  color: purple;
}

.name {
  font-size: 3.5em;
}

.subtitle {
  font-size: 1.5em;
}

.cursor {
  display: none;
}

.cursor::after {
  position: absolute;
  font-weight: bold;
  font-size: 1.2em;
  content: "|";
  animation: cursor-blink 1.5s step-end infinite;
}

.mobile-cursor::after {
  position: absolute;
  font-weight: bold;
  font-size: 1.2em;
  content: "|";
  animation: cursor-blink 1.5s step-end infinite;
}

@keyframes cursor-blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@media (min-width: 600px) {
  .cover {
    padding-top: 0;
  }

  .greeting {
    margin-bottom: 6rem;
  }

  .name {
    font-size: 4em;
  }

  .cursor {
    display: unset;
  }

  .cursor::before {
    /* https://css-tricks.com/injecting-line-break/ */
    content: "\A>";
    white-space: pre;
  }

  .mobile-cursor {
    display: none;
  }

  .subtitle {
    position: absolute;
  }
}
