.container {
  display: flex;
  width: fit-content;
  justify-content: space-around;
  padding: 1em;
}

.social-image {
  transition: all 0.1s ease-in-out;
  padding: 0.8em;
}

.social-image:hover {
  transform: scale(1.2);
}
