.container {
  min-height: 100vh;
  padding: 0 2rem;
}

/* Navbar */
.nav {
  background-color: grey;
  padding: 1rem 1rem;
}

.nav__ul {
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
}

.nav__link {
  padding-left: 1em;
  list-style-type: none;
}

/* Main Content */
.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.main::after {
}
