.about {
  /* margin: 8rem 0; */
  background-color: cornflowerblue;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
}

/* .about::before {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: skewY(-2deg) translateY(-10%);
  content: "";
  background-color: inherit;
  z-index: -1;
} */
